doctype
html(lang='en', ng-controller='AppCtrl', ng-app='App')
    head
        meta(charset='UTF-8')
        title Page Title
        meta(content='width=device-width, initial-scale=1', name='viewport')
        link(href='css/app.min.css', rel='stylesheet')
        // AngularJS
        script(src='vendors/angular/angular.min.js')
        script(src='vendors/angular/angular-route.min.js')
        script(src='vendors/angular/angular-sanitize.min.js')
        script(src='vendors/angular/angular-animate.min.js') 
    body
            
        h1 
            | Site iniciado: {{ message }} 
         
        script(src='js/app.min.js')