// Config Grid

	// Tipo de layout: Fluido ou Fixo	
	@_layout: fixo;

	// Largura do Grid
	@_total_grid: 955px;

	// Númerod e colunas
	@_colunas: 5;

	// Espaçamento entre os grids
	@_gunner: 5px;

	// Padding interno
	@_inset: 20px;



/* Não alterar nada daqui para baixo
----------------------------------------------------------------------------------------------------*/


	/*			
		GRID EM PIXELS
	*/
	@_largura_grid: (@_total_grid/@_colunas)-@_gunner+(@_gunner/@_colunas); 
	@_grid : @_largura_grid; 
	@_space: @_gunner;
	@_padding: 0 @_inset;



	.layout_fluido (@_layout) when (@_layout = fluido) { 

		/*			
			GRID EM PORCENTAGEM 
		*/

			@_largura_grid_percentual: percentage( (@_largura_grid * 100 / @_total_grid)  / 100 ) - 0.1;
			@_space: percentage( (@_gunner * 100 / @_total_grid) / 100 );
			@_inset_space: percentage( (@_inset * 100 / @_total_grid) / 100 );

			@_grid : @_largura_grid_percentual;  
			@_padding: 0 @_inset_space; 

	}

	.layout_fluido (@_layout);





/* Containers
----------------------------------------------------------------------------------------------------*/
.grid_5_columns {	
	margin-left: -@_space;		
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6 {
	display:inline;
	float: left;
	position: relative;
	margin-left: @_space;	
	padding: @_padding;
	&.full {		
		padding: 0px;
	} 
}

.full {	
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6 {
		padding: 0px;
	}
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.grid_5_columns {
	.grid_1 {	width: @_grid;	}
	.grid_2 {	width: (@_grid * 2) + @_space;	}
	.grid_3 {	width: (@_grid * 3) + (@_space * 2);	}
	.grid_4 {	width: (@_grid * 4) + (@_space * 3);	}
	.grid_5 {	width: (@_grid * 5) + (@_space * 4);	}
}
 


 

/* Prefix Extra Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/
 

.grid_5_columns {
	.prefix_1 {		margin-left: @_grid + (@_space * 2);		    }
	.prefix_2 {		margin-left: (@_grid * 2) + (@_space * 3);	}
	.prefix_3 {		margin-left: (@_grid * 3) + (@_space * 4);    }
	.prefix_4 {		margin-left: (@_grid * 4) + (@_space * 5);	}
}

	 
	


/* Suffix Extra Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.grid_5_columns {
	.suffix_1 {		margin-right: @_grid + @_space;	}
	.suffix_2 {		margin-right: (@_grid * 2) + (@_space * 2);	}
	.suffix_3 {		margin-right: (@_grid * 3) + (@_space * 3);	}
	.suffix_4 {		margin-right: (@_grid * 4) + (@_space * 4);	}
}

	

/* Push Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.grid_5_columns {
	.push_1 {	left: @_grid + @_space;	    }
	.push_2 {	left: (@_grid * 2) + @_space;	}
	.push_3 {	left: (@_grid * 3) + @_space;	}
	.push_4 {	left: (@_grid * 4) + @_space;	}
}

 
	


/* Pull Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/

.grid_5_columns { 
	.pull_1 {	left: -@_grid + @_space;	        }
	.pull_2 {	left: -(@_grid * 2) + @_space;	}
	.pull_3 {	left: -(@_grid * 3) + @_space;	}
	.pull_4 {	left: -(@_grid * 4) + @_space;	}
}

