// font face 
  
.font-face ( Modern, ~'fonts/modernpictogramspro_2-webfont', normal, normal); 
.modern {     
    font-family: 'Modern';
    font-weight: normal;
    font-style: normal;
}


.calluna( @weight : 300, @style : normal ) {
    font-family: "calluna-sans";
    font-weight: @weight;
    font-style: @style;
    text-transform: none;
    // 300,400,600,700,900
    // normal, italic
}
.source( @weight : 300, @style : normal ) {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: @weight;
    font-style: @style;
    // 200,400,600,900 
}

.lora( @weight : 400, @style : normal ) {
    font-family: 'Lora', serif;
    font-weight: @weight;
    font-style: @style;
    // 400
}



.font {
    .primary {
        .h1 {
            .calluna(); 
        }
        .h2 {
            .calluna(900); 
            font-size: 190px;
            line-height: 190px;
        } 
        .h3 {
            .calluna(900); 
            font-size: 25px;
            line-height: 37px;
            text-transform: uppercase;
            letter-spacing: 2px;
        } 
        .h4 {
            .calluna(600); 
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
        } 
        .p1 {
            .calluna(400);
            font-size: 13px;  
            line-height: 37px;
        }
        .p2 {
            .calluna(400);
            font-size: 12px;    
        } 
        .p3 {
            .calluna(300);
            font-size: 25px;    
        } 
        .p4 {
            .calluna(400);
            font-size: 15px;  
            line-height: 24px;
        }

        .p5 {
            .calluna();
            font-size: 18px;   
            letter-spacing: -1px;
            font-style: italic;
        } 
    }

    .secondary { 
        .h2 {
            .source(200); 
            font-size: 50px;
        }
        .h3 {
            .source(200); 
            font-size: 25px;
        }
        .p1 {
            .source(600);
            font-size: 14px;
            text-transform: uppercase;
        } 
        .p2 {
            .calluna(400);
            font-size: 12px;    
        } 
    }

    .tertiary { 
        .p1 {
            .lora();
            font-size: 15px;    
            line-height: 25px;
        } 
    }

}
