/*
	Mixins para Grid Baseline
*/


/*						Baseline Height      		*/
.bl_h  ( @line, @important: ~'' )   {     height: @line * 12px @important;           }


/*						Baseline Line Height 		*/
.bl_lh ( @line, @important: ~'' )   {     line-height: @line * 12px @important;      }


/*						Baseline Margin      		*/
.bl_m  ( @line, @important: ~'' )   {     margin: @line * 12px 0 @important;         }
.bl_mt ( @line, @important: ~'' )   {     margin-top: @line * 12px @important;       }
.bl_mb ( @line, @important: ~'' )   {     margin-bottom: @line * 12px @important;       }


/*						Baseline Padding     		*/
.bl_p  ( @line, @important: ~'' )   {     padding: @line * 12px 0 @important;         }
.bl_pt ( @line, @important: ~'' )   {     padding-top: @line * 12px @important;       }
.bl_pb ( @line, @important: ~'' )   {     padding-bottom: @line * 12px @important;       }

/*						Baseline Top     		*/
.bl_t ( @line, @important: ~'' )   {     top: @line * 12px @important;       }
 
 

 
/*
	Baseline = line * 12px
	.bl(3);

	height: 36px;
	line-height: 36px;
*/

.bl( @size ){ 

  .bl-@{size} {     
    .bl_h( @size, ~"!important" ); 
    .bl_lh( @size, ~"!important" );  
  }

}



/*
	Baseline = line * 12px
	.bl(3);

	height: 36px;
	line-height: 36px;
*/


.bl( 1 );
.bl( 2 );
.bl( 3 );
.bl( 4 );
.bl( 5 );
.bl( 6 );
.bl( 7 );
.bl( 8 );
.bl( 9 );
.bl( 10 );
.bl( 11 );
.bl( 12 );
.bl( 13 );
.bl( 14 );
.bl( 15 );
  


/*
	Baseline = line * 12px
	.bl-mt(3);

	margin-top: 36px;
*/

.bl-mt( @size ){ 

  .bl-mt-@{size} {     
    .bl_mt( @size, ~"!important" ); 
  }

}


/*
	Baseline = line * 12px
	.bl-mb(3);

	margin-top: 36px;
*/

.bl-mb( @size ){ 

  .bl-mb-@{size} {     
    .bl_mb( @size, ~"!important" ); 
  }

}


/*
	Baseline = line * 12px
	.bl-pt(3);

	padding-top: 36px;
*/

.bl-pt( @size ){ 

  .bl-pt-@{size} {     
    .bl_pt( @size, ~"!important" ); 
  }

}


/*
	Baseline = line * 12px
	.bl-pb(3);

	padding-top: 36px;
*/

.bl-pb( @size ){ 

  .bl-pb-@{size} {     
    .bl_pb( @size, ~"!important" ); 
  }

}



.bl-mt-0 {     
    margin-top: 6px; 
 }
.bl-pt-0 {     
    margin-top: 6px; 
 }

.bl-mt-57 {     
    margin-top: 57px; 
 }




/*
	Baseline = line * 12px
	.bl-mt(3);

	margin-top: 36px;
*/
.bl-mt( 1 );
.bl-mt( 2 );
.bl-mt( 3 );
.bl-mt( 4 );
.bl-mt( 5 );
.bl-mt( 6 );
.bl-mt( 7 );
.bl-mt( 8 );
.bl-mt( 9 );
.bl-mt( 10 );
.bl-mt( 11 );
.bl-mt( 12 );
.bl-mt( 13 );
.bl-mt( 14 );
.bl-mt( 15 );
  


/*
	Baseline = line * 12px
	.bl-mb(3);

	margin-bottom: 36px;
*/
.bl-mb( 1 );
.bl-mb( 2 );
.bl-mb( 3 );
.bl-mb( 4 );
.bl-mb( 5 );
.bl-mb( 6 );
.bl-mb( 7 );
.bl-mb( 8 );
.bl-mb( 9 );
.bl-mb( 10 );
.bl-mb( 11 );
.bl-mb( 12 );
.bl-mb( 13 );
.bl-mb( 14 );
.bl-mb( 15 );
  



/*
	Baseline = line * 12px
	.bl-pt(3);

	padding-top: 36px;
*/
.bl-pt( 1 );
.bl-pt( 2 );
.bl-pt( 3 );
.bl-pt( 4 );
.bl-pt( 5 );
.bl-pt( 6 );
.bl-pt( 7 );
.bl-pt( 8 );
.bl-pt( 9 );
.bl-pt( 10 );
.bl-pt( 11 );
.bl-pt( 12 );
.bl-pt( 13 );
.bl-pt( 14 );
.bl-pt( 15 );
  



/*
	Baseline = line * 12px
	.bl-pb(3);

	margin-bottom: 36px;
*/
.bl-pb( 1 );
.bl-pb( 2 );
.bl-pb( 3 );
.bl-pb( 4 );
.bl-pb( 5 );
.bl-pb( 6 );
.bl-pb( 7 );
.bl-pb( 8 );
.bl-pb( 9 );
.bl-pb( 10 );
.bl-pb( 11 );
.bl-pb( 12 );
.bl-pb( 13 );
.bl-pb( 14 );
.bl-pb( 15 );
  