// Config Grid

	// Tipo de layout: Fluido ou Fixo	
	@layout: fixo;

	// Largura do Grid
	@total_grid: 955px;

	// Númerod e colunas
	@colunas: 6;

	// Espaçamento entre os grids
	@gunner: 5px;

	// Padding interno
	@inset: 20px;



/* Não alterar nada daqui para baixo
----------------------------------------------------------------------------------------------------*/


	/*			
		GRID EM PIXELS
	*/
	@largura_grid: (@total_grid/@colunas)-@gunner+(@gunner/@colunas); 
	@grid : @largura_grid; 
	@space: @gunner;
	@padding: 0 @inset;



	.layout_fluido (@layout) when (@layout = fluido) { 

		/*			
			GRID EM PORCENTAGEM 
		*/

			@largura_grid_percentual: percentage( (@largura_grid * 100 / @total_grid)  / 100 ) - 0.1;
			@space: percentage( (@gunner * 100 / @total_grid) / 100 );
			@inset_space: percentage( (@inset * 100 / @total_grid) / 100 );

			@grid : @largura_grid_percentual;  
			@padding: 0 @inset_space; 

	}

	.layout_fluido (@layout);





/* Containers
----------------------------------------------------------------------------------------------------*/
.grid {	
	margin-left: -@space;		
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6 {
	display:inline;
	float: left;
	position: relative;
	margin-left: @space;	
	padding: @padding;
	&.full {		
		padding: 0px;
	} 
}

.full {	
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6 {
		padding: 0px;
	}
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.grid  {
	.grid_1 {	width: @grid;	}
	.grid_2 {	width: (@grid * 2) + @space;	}
	.grid_3 {	width: (@grid * 3) + (@space * 2);	}
	.grid_4 {	width: (@grid * 4) + (@space * 3);	}
	.grid_5 {	width: (@grid * 5) + (@space * 4);	}
	.grid_6 {	width: (@grid * 6) + (@space * 5);	}
}
 


 

/* Prefix Extra Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/
 

.grid  {
	.prefix_1 {		margin-left: @grid + (@space * 2);		    }
	.prefix_2 {		margin-left: (@grid * 2) + (@space * 3);	}
	.prefix_3 {		margin-left: (@grid * 3) + (@space * 4);    }
	.prefix_4 {		margin-left: (@grid * 4) + (@space * 5);	}
	.prefix_5 {		margin-left: (@grid * 5) + (@space * 6);	}
}

	 
	


/* Suffix Extra Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.grid  {
	.suffix_1 {		margin-right: @grid + @space;	}
	.suffix_2 {		margin-right: (@grid * 2) + (@space * 2);	}
	.suffix_3 {		margin-right: (@grid * 3) + (@space * 3);	}
	.suffix_4 {		margin-right: (@grid * 4) + (@space * 4);	}
	.suffix_5 {		margin-right: (@grid * 5) + (@space * 5);	}
}

	

/* Push Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.grid  {
	.push_1 {	left: @grid + @space;	    }
	.push_2 {	left: (@grid * 2) + @space;	}
	.push_3 {	left: (@grid * 3) + @space;	}
	.push_4 {	left: (@grid * 4) + @space;	}
	.push_5 {	left: (@grid * 5) + @space;	} 
}

 
	


/* Pull Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/

.grid  { 
	.pull_1 {	left: -@grid + @space;	        }
	.pull_2 {	left: -(@grid * 2) + @space;	}
	.pull_3 {	left: -(@grid * 3) + @space;	}
	.pull_4 {	left: -(@grid * 4) + @space;	}
	.pull_5 {	left: -(@grid * 5) + @space;	}
}

 



/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix {
	display: inline-block;
	&:after {
		clear: both;
		content: ' ';
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}

 
* + html .clearfix {display:inline;zoom:1;}  

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}


.expand {	width: 100%;	}
.expand_all > * {	width: 100%;	}